.container.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container.content form {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 60px;
}
